In [4]:
#함수에는 매개변수를 변수, 리스트, 다른 함수 등 다양하게 넣을 수 있음.
list1 = [1, 2, 3]
def sq_sum(n):
    result = [ i**2 for i in n ]
    return sum(result)

def tsq_sum(n):
    result = [ i**3 for i in n ]
    return sum(result)

assert sq_sum([1, 2, 3]) == 14
sq_sum(list1)

14

In [ ]:
def sq(n):
    return n**2

def t(n):
    return n**3

이런 함수들 1줄로 만드는 람다식.

In [5]:
#함수(리스트, lambda n: n**2)

# random 안에서 내가 사용할 함수들이 많다
import random

random.randrange(1, 100)

74

In [12]:
# random 안에 내가 사용할 함수가 정해져 있다.
from random import randrange

randrange(1, 100)

rand_list = [ randrange(1, 100) for _ in range(10)]
rand_list

[3, 20, 45, 7, 9, 98, 24, 11, 86, 94]

In [15]:
# 편차 리스트 만들기
'''
def dev_list(src):
    mean = sum(src) / len(src)
    result = []
    for i in src:
        if i >= mean:
            result.append(i - mean)
        elif i < mean:
            result.append(mean - i)
    return print('mean: ', mean, ',dev_list: ', result)
'''

In [18]:
dev_list(rand_list)

mean:  39.7 ,dev_list:  [36.7, 19.700000000000003, 5.299999999999997, 32.7, 30.700000000000003, 58.3, 15.700000000000003, 28.700000000000003, 46.3, 54.3]

In [21]:
def de_list(src):
    mean = sum(src) / len(src)
    return [i-mean for i in src]

In [22]:
print(rand_list)
de_list(rand_list)

[3, 20, 45, 7, 9, 98, 24, 11, 86, 94]

[-36.7,
 -19.700000000000003,
 5.299999999999997,
 -32.7,
 -30.700000000000003,
 58.3,
 -15.700000000000003,
 -28.700000000000003,
 46.3,
 54.3]

In [29]:
#소수 판별하기
n = 12
flag =0
for i in range(2, n):
    if n%i == 0:
        print(n,'is not prime')
        flag = 1
        break
        
if flag == 0:
    print('prime')

#소수인지 소수가 아닌지 어떻게 다르게 표시할지 고민했는데 flag라는 새로운 조건을 추가함으로써 해결할 수 있다.

12 is not prime