In [ ]:
#대소비교
n = 3
m = 5

print(n==m) #같은가
print(n>m) #초과, 미만
print(n<=m) #이상, 이하
print(n!=m) #다른가

False
False
True
True

In [ ]:
#조건문

if n==m:
  print("두 값이 같습니다.")
else:
  print("두 값이 다릅니다")

if n<m:
  print("n이 m보다 작거나 같습니다.")
elif n%3 == 0:                         #여기부터 실행이 안되는 이유 -  if, elif 구문에서 어느 한 구문이라도 참이여서 실행되면 나머지 밑에 식은 그냥 넘어감.
  print("n은 3의 배수입니다.")
else:
  print("마지막 else.")

두 값이 다릅니다
n이 m보다 작거나 같습니다.

In [ ]:
x = [1, 2, 3]

if 3 in x:
  print("리스트에 3이 있습니다.")

if 5 not in x:
  print("리스트에 5가 없습니다.")

리스트에 3이 있습니다.
리스트에 5가 없습니다.

In [ ]:
#반복문

n = 3
y = {1, 2, 3}

while n>0:
  print(n)
  n = n-1 #이 문장이 없으면 무한 반복이므로 주의!

while 3 in y:
  print("3이 세트 y에 있습니다")
  y.remove(3)

3
2
1
3이 세트 y에 있습니다

In [ ]:
x = [1, 2, 3, 4, 5]
z =[]

for i in x:
  z.append(i**2)

z # 5차원에서의 거리를 구할 수 있음.

[1, 4, 9, 16, 25]

In [ ]:
x = [3, 5]
z =[]

for i in x:
  z.append(i**2)

z # 2차원에서의 거리를 구할 수 있음.

[9, 25]

In [ ]:
x = [1, 2, 3]
z =[n**2 for n in x]

z