In [1]:
x = [1, 2, 3, 4, 5]
z =[i**2 for i in x]

z

[1, 4, 9, 16, 25]

range 기본값 start 값 0, step은 1로 설정되어 있음.

In [2]:
x = range(10) # generator: 생성기
print(x)

new_list =[]

for n in range(10):
    new_list.append(n)
    
new_list

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
new_list2 = [i for i in range(10)] #start: 0, stop: 10
new_list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
new_list3 = [n for n in range(5,10)] #start: 5, stop: 10
new_list3

[5, 6, 7, 8, 9]

In [5]:
new_list4 = [n for n in range(5, 10, 2)] #start: 5, stop: 10, step: 2
new_list4

[5, 7, 9]

In [6]:
#project euler : problem 1

#Find the sum of all the multiples of 3 or 5 below 1000.

#1번 방법 - 리스트에 넣어 총합 구하기.

l= []

for i in range(1000):
    if i%3 == 0 or i%5 == 0:
        l.append(i)

print(sum(l))

233168

In [7]:
#2번 방법

list3 = [n for n in range(3, 1000, 3)]
list5 = [n for n in range(5, 1000, 5)]

set_x = set(list3 + list5)
print(sum(set_x))

233168

In [8]:
#slicing - 리스트 이름[시작 인덱스:끝 인덱스:간격]

list1 = [n for n in range(10, 20)]
print(list1)
print(list1[1:5])
print(list1[1:8:2])
print(list1[1:-3])

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[11, 12, 13, 14]
[11, 13, 15, 17]
[11, 12, 13, 14, 15, 16]

In [9]:
print('sum:', sum([1, 2, 3]))
print('len:', len([1, 2, 3]))

sum: 6
len: 3

In [11]:
#project euler : problem 6
#Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

#my answer
x = input('종결값을 입력하시오')
a = [i for i in range(1, int(x)+1)]
b = [i**2 for i in a]
c = sum(a)**2

print('result:', c - sum(b))

종결값을 입력하시오10
result: 2640

In [ ]:
#solution

In [15]:
# random number

import random

random.randrange(1, 100)

rand_ten = []

for _ in range(10): # 굳이 변수를 할당할 필요가 없다면 _으로 처리한다.
    rand_ten.append(random.randrange(1, 100))
rand_ten

[80, 67, 62, 79, 63, 32, 95, 76, 37, 55]

In [17]:
rand_ten2 = [random.randrange(1,100) for _ in range(10)]
print('v2:', rand_ten2)

v2: [7, 25, 86, 37, 78, 88, 69, 98, 56, 83]

In [18]:
# 함수

def myfunc():
    print('my function')
    
myfunc()

def myfunc2(n=1):  #n의 데이터 타입을 주의 할 것!, n=1의 뜻은 값이 주어지지 않을 때 1로 처리한다.
    return n**2;

myfunc2(5)

my function

25

In [19]:
#입력: python 리스트
#출력(return, 반환값): 각 element 제곱의 합
def sum_of_squares(n):
    b = [i**2 for i in n]
    return sum(b)

sum_of_squares([1, 2, 3])

14